@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container{
  width: 70%
  margin-right: auto;
  margin-left: auto;
}
*{
  margin: 0;
  padding: 0;
}


header.site-header{
  background-color: #004b51;
  color: white;
  height: 30vh;
}


.menu a{
  color:white;
  margin-right:30px;
  text-decoration: none;
}

.input-error{
  border: 
}