@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container{
  width: 70%
  margin-right: auto;
  margin-left: auto;
}
*{
  margin: 0;
  padding: 0;
}


header.site-header{
  background-color: #004b51;
  color: white;
  height: 30vh;
}


.menu a{
  color:white;
  margin-right:30px;
  text-decoration: none;
}

.input-error{
  border: 1px solid red;
}

.form-control{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.form-control:first-of-type{
  margin-top: 1rem;
}
.form-control label{
  flex-basis: 80;
  text-align: right;
  margin-right: 1rem;
}
.form-control input{
  flex-basis: 80%;
  padding: 5px;
}
.form-container button{
  margin-left: 80%;
  border: 1px solid #000000;
  background-color: #252525;
  color: #dedede;
  padding: 5rem;
  
}
.alert-error{
  background-color: #f8acac;
  color: #c95353;
  padding: 3px;
  margin:1rem 0 1rem 1rem;
  text-align: center;
  border-radius: 5px;
}
.hide{
  display: none;
}